# Eclipse 
*.class
.classpath
.project
target
.settings
target/
bin/

.idea
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml

qamel/.project
qamel/.settings
qamel/index/
qamel/log.out
queryCorrection/index/
queryAlternatives/src/main/resources/glove*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

qamel/target
